name: Deploy
on:
    push:
        paths:
            - .github/workflows/deploy.yml
    workflow_dispatch:
    schedule:
        - cron: "0 * * * *" # every hour at 0 minutes
jobs:
    scheduled:
        runs-on: ubuntu-latest
        continue-on-error: true
        steps:
            - name: Check out repo
              uses: actions/checkout@v2

            - name: Setup deno
              uses: denoland/setup-deno@main
              with:
                  deno-version: v1.x

            - name: Fetch data
              run: deno run -A scrape.ts

            - name: Deploy
              uses: JamesIves/github-pages-deploy-action@4.1.5
              with:
                  branch: deploy # lets not use gh pages because cdn
                  folder: public
                  single-commit: true
                  silent: true
